{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Workflow examples</h1>
        <p class="lead">This is an example of symfony workflow</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Post something</a>
            <a href="#" class="btn btn-lg btn-success">View requests</a>
        </p>
    </main>
{% endblock %}
