{% extends 'base.html.twig' %}

{% block title %}Post request{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {{ form(form) }}
{% endblock %}
